---
import React from "../icons/ReactIcon.astro";
import JavaScript from "../icons/JavaScriptIcon.astro";
import Node from "../icons/NodeIcon.astro";
import Express from "../icons/ExpressIcon.astro";
import Adobe from "../icons/AdobeIcon.astro";
import CSS from "../icons/CSSIcon.astro";
import TailWind from "../icons/TailWindIcon.astro";
import SASS from "../icons/SASSIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import MongoDB from "../icons/MongoDBIcon.astro";
import GIT from "../icons/GITIcon.astro";
import GitHub from "../icons/GitHubIcon.astro";
import Figma from "../icons/FigmaIcon.astro";
---

<div class="grid items-center grid-cols-2 gap-4 md:grid-cols-6">
    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <JavaScript class="size-12" />
        <h1>JavaScript</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <React class="size-12" />
        <h1>React</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <Node class="size-12" />
        <h1>Node</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <Express class="size-12" />
        <h1>Express</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <Adobe class="size-12" />
        <h1>Adobe</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <CSS class="size-12" />
        <h1>CSS</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <TailWind class="size-12" />
        <h1>TailWind</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <SASS class="size-12" />
        <h1>SASS</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <AstroIcon class="size-12" />
        <h1>Astro</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <MongoDB class="size-12" />
        <h1>MongoDB</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <GIT class="size-12" />
        <h1>GIT</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <GitHub class="size-12" />
        <h1>GitHub</h1>
    </aside>

    <aside
        class="flex max-w-xs flex-col items-center space-y-2 rounded-lg border border-neutral-800 p-4 bg-[#5544]"
    >
        <Figma class="size-12" />
        <h1>Figma</h1>
    </aside>


</div>
