---
interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
import Header from "../components/Header.astro";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://i.imgur.com/9hVY0Pq.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body class="mx-5 md:mx-[15%] min-w-80">
		<Header />
		<slot />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: system-ui, sans-serif;
	}

	body {
		font-family: "Onest Variable", sans-serif;
		background: linear-gradient(to bottom, #202020, #141414);
		color: #D1D1D1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}
</style>
